<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h3">Clientes</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1" routerLink="/clientes/guardar">
                <i class="bi bi-plus-circle"></i>
                Nuevo
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Ingrese el cliente a buscar..." #inputBusqueda (keyup)="filtrar(inputBusqueda.value)">
            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>
        </div>
        <div class="mat-elevation-z1 mt-3">
            @defer {
                <div class="table-responsive">
                    <table mat-table [dataSource]="datos" matSort>
                        <!-- ID Cliente -->
                        <ng-container matColumnDef="idCliente">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header># Cliente</th>
                            <td mat-cell *matCellDef="let cliente">{{ cliente.idCliente }}</td>
                        </ng-container>
        
                        <!-- Nombre -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                            <td mat-cell *matCellDef="let cliente">{{ cliente.nombre }}</td>
                        </ng-container>
        
                        <!-- Apellido -->
                        <ng-container matColumnDef="apellido">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                            <td mat-cell *matCellDef="let cliente">{{ cliente.apellido }}</td>
                        </ng-container>
        
                        <!-- Pasaporte -->
                        <ng-container matColumnDef="pasaporte">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pasaporte</th>
                            <td mat-cell *matCellDef="let cliente">{{ cliente.pasaporte }}</td>
                        </ng-container>
        
                        <!-- Nacionalidad -->
                        <ng-container matColumnDef="nacionalidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nacionalidad</th>
                            <td mat-cell *matCellDef="let cliente">{{ cliente.nacionalidad }}</td>
                        </ng-container>
        
                        <!-- Correo -->
                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
                            <td mat-cell *matCellDef="let cliente">{{ cliente.correo }}</td>
                        </ng-container>
        
                        <!-- Teléfono -->
                        <ng-container matColumnDef="telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
                            <td mat-cell *matCellDef="let cliente">{{ cliente.telefono }}</td>
                        </ng-container>
        
                        <!-- Estado -->
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                            <td mat-cell *matCellDef="let cliente">
                                <span [class]="cliente.estado ? 'text-success' : 'text-danger'">
                                    {{ cliente.estado ? 'Activo' : 'Inactivo' }}
                                </span>
                            </td>
                        </ng-container>
        
                        <!-- Opciones -->
                        <ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef>Opciones</th>
                            <td mat-cell *matCellDef="let cliente">
                                <div class="btn-group" role="group">
                                    <a title="Editar cliente" class="btn btn-sm btn-outline-secondary" [routerLink]="['/clientes/actualizar/', cliente.idCliente]">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                    </table>
                </div>
            } @loading {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
        </div>
    </div>
</div>
